body {
	font-family: 'Ubuntu','Open Sans','Montserrat', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

H2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 32px;
}

H3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 19px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/* header */

.header {
	background-image: linear-gradient(-45deg, #378fd9 0%,#4ebefe 100%);
	color: #fff;
}

.header_logo {
	padding-top: 60px;
}

.header_inner {
	display: flex;
}

.header_content {
	margin: auto 0;
	padding-right: 50px;
}

.header_span {
	font-size: 52px;
	line-height: 2;
}

.header_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #FFF;
	margin-bottom: 65px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 900;
	text-decoration: none;
	color: #000;
	background-color: #ffd429;
	padding: 20px 30px;
}

/*learn*/

.learn {
	padding: 100px 0;
	text-align: center;
}

.learn_inner {

	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.learn_title {
	margin:30px 0;
}

.learn_text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-size: 15px;
}

/*mail*/

.mail {
	background-color: #ecf3f8;
	padding: 100px 0;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.btn--last {
	width: 340px;
}

input {
	width: 340px;
	height: 45px;
	margin-bottom: 10px;
	padding-left: 25px;
}

/*footer*/

.footer {
	background-color: #164d7a;
	color: #fff;
	text-align: center;
	padding: 60px 0;
}