body {
	font-family: 'Ubuntu','Open Sans','Montserrat', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

H1, H2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 32px;
}

H3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 19px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/* header */

.header {
	background-image: linear-gradient(-45deg, #378fd9 0%,#4ebefe 100%);
	color: #fff;
	padding-top: 60px;
}

.header_inner {
	display: flex;
	justify-content: space-between;
}

.header_content {
	margin: auto 0;
	padding-right: 50px;
}

.header_span {
	font-size: 52px;
	line-height: 2;
}

.header_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #FFF;
	margin-bottom: 65px;
}

.header_img {
	display: block;
	width: 50%;
	height: auto;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 900;
	text-decoration: none;
	color: #000;
	background-color: #ffd429;
	padding: 20px 30px;
	transition: background-color .2s linear;
}

.btn:hover {
	background: #d9860e;
}

/*learn*/

.learn {
	padding: 100px 0;
	text-align: center;
}

.learn_inner {
	align-items: flex-end;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.learn_title {
	margin:30px 0;
}

.learn_text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-size: 15px;
}

/*mail*/

.mail {
	background-color: #ecf3f8;
	padding: 100px 0;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.btn--last {
	width: 340px;
}

input {
	width: 340px;
	height: 45px;
	margin-bottom: 10px;
	padding-left: 25px;
}

/*footer*/

.footer {
	background-color: #164d7a;
	color: #fff;
	text-align: center;
	padding: 60px 0;
}

.animated {
	opacity: 0;
}

.center {
	text-align: center;
}

/*responsive*/

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	.header {
		padding: 50px 0;
	}

	.header_logo {
		justify-content: center;
		display: flex;
	}

	.header_inner {
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 30px;
		}

	.header_content {
		width: 100%;
		padding: 0;
		text-align: center;
	}	

	.learn {
		padding: 50px 0;
	}

	.lear_itm {
		margin-bottom: 30px;
  }

	.mail {
		padding: 50px 0;
	}

	.footer {
		padding: 30px 0;
	}
}

@media screen and (max-width: 768px) {
	
	H1 {
		font-size: 24px;
	}
	
	.container {
		width: 540px;
	}

	.header {
		padding: 30px 0;
  }

	.header_content {
		margin: auto 0;
		padding:0;
	}
	
	.header_span {
		font-size: 48px;
		line-height: 1;
	}
	
	.header_text {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #FFF;
		margin-bottom: 50px;
	}

	.learn_inner {
		flex-direction: column;	
		align-items: inherit;
	}	
}

@media screen and (max-width: 576px) {
	
	H1 {
		font-size: 18px;
  }
	
	.container {
		width: 90%;
	}

	.header {
		padding: 5px 0;
  }

	.header_span {
		font-size: 50px;
		line-height: 35px;
  }

	.header_img {
		display: block;
		width: 95%;
		height: auto;
  }

  .header_text {
	margin-bottom: 20px;
	margin-top: 10px;
}

	.btn {
		padding: 10px 30px;
		border-radius: 50px;
	}

	.learn {
		padding: 20px 0;
	}

	.learn_inner {
		align-items: flex-end;
		margin-top: 40px;
	}

	.lear_itm {
		margin-bottom: 20px;
  }

	.mail {
		padding: 30px 0;
  }

	input {
		width: 300px;
	}

	.btn--last {
		width: 300px;
  }

  .footer {
	padding: 10px 0;
}
}